<ion-header>
  <ion-navbar>
    <ion-title>
      Order Summary
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      Tacos
    </ion-list-header>
    <ion-item *ngFor="let taco of tacos; let i = index" (click)="toggleDetails(taco)">
      <ion-icon color="primary" item-right [name]="taco.icon"></ion-icon>
      <div>
        <h2>Taco {{i+1}}: {{taco.tortilla}}</h2>
        <div *ngIf="taco.discount" item-right>{{ taco.cost * taco.quantity - taco.discount.amount | currency : "USD" :2}}</div>
        <div *ngIf="!taco.discount" item-right>{{ taco.cost * taco.quantity | currency : "USD" :2}}</div>
      </div>
      <div *ngIf="taco.showDetails">
        <p *ngIf="taco.tortilla == 'Tortilla Fritos'">
          <span *ngIf="taco.tortillaOptions.rice">Rice, </span>
          <span *ngIf="!taco.tortillaOptions.rice">No rice, </span>
          <span *ngIf="taco.tortillaOptions.beans">beans</span>
          <span *ngIf="!taco.tortillaOptions.beans">no beans</span>
        </p>
        <div *ngIf="taco.protein.length > 0">
          <h5>Protein</h5>
          <p *ngFor="let protein of taco.protein" padding-left>+ {{protein}}</p>
        </div>
        <div *ngIf="taco.toppings.length > 0">
          <h5>Toppings</h5>
          <p *ngFor="let topping of taco.toppings" padding-left>+ {{topping}}</p>
        </div>
        <div *ngIf="taco.cheese.length > 0">
          <h5>Cheese</h5>
          <p *ngFor="let cheese of taco.cheese" padding-left>+ {{cheese}}</p>
        </div>
        <div *ngIf="taco.salsa.length > 0">
          <h5>Salsa</h5>
          <p *ngFor="let salsa of taco.salsa" padding-left>+ {{salsa}}</p>
        </div>
        <div *ngIf="taco.sauces.length > 0">
          <h5>Sauces</h5>
          <p *ngFor="let sauce of taco.sauces" padding-left>+ {{sauce}}</p>
        </div>
        <br>
        <p>{{ taco.cost | currency : "USD" :2}} x {{taco.quantity}} taco(s)</p>
        <div *ngIf="taco.discount">
          <h5>Discounts</h5>
          <p padding-left>- {{taco.discount.amount | currency : "USD" :2}}: {{taco.discount.description}}</p>
        </div>
      </div>
    </ion-item>
    <ion-item text-center *ngIf="tacos.length == 0">
      No tacos!
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      Extras
    </ion-list-header>
    <ion-item *ngFor="let extra of selectedExtras">
      {{extra.displayName}}
      <br>
      <p>{{ extra.cost | currency : "USD" :2}}</p>
    </ion-item>
    <ion-item text-center *ngIf="selectedExtras.length == 0">
      None
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col width-66>
        Cost of tacos:
      </ion-col>
      <ion-col text-left width-33>
        {{tacoService.getCartCost() | currency : "USD" :2}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-66>
        Cost of extras:
      </ion-col>
      <ion-col text-left width-33>
        {{costOfExtras | currency : "USD" :2}}
      </ion-col>
    </ion-row>
    <ion-row *ngIf="discounts > 0">
      <ion-col width-66>
        Discounts:
      </ion-col>
      <ion-col text-left width-33>
        - {{discounts | currency : "USD" :2}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-66>
        Subtotal:
      </ion-col>
      <ion-col text-left width-33>
        {{tacoService.getCartCost() + costOfExtras - discounts | currency : "USD" :2}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-66>
        Tax:
      </ion-col>
      <ion-col text-left width-33>
        {{(tacoService.getCartCost() + costOfExtras - discounts) * 0.065 | currency : "USD" :2}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-66>
        Total:
      </ion-col>
      <ion-col text-left width-33>
        {{(tacoService.getCartCost() + costOfExtras - discounts) * 1.065 | currency : "USD" :2}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <button ion-button block (click)="goToFinish()">Submit order</button>
</ion-content>