<ion-header>
  <ion-toolbar>
    <ion-title>
      My Cart
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Close</span>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button disabled color="dark">
        <span ion-text>Total: {{ quesoService.getQuesoCost() + tacoService.getTacoCost() + extrasService.getExtrasCost() | currency : "USD" :2}}</span>
      </button>
      <button ion-button showWhen="android,windows" (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-list-header>
      Queso
    </ion-list-header>
    <ion-item *ngFor="let queso of quesos; let i = index">
      <button ion-button icon-only icon-right item-right clear (click)="showQuesoOptions(i)">
        <ion-icon name="information-circle"></ion-icon>
      </button>
      <ion-thumbnail item-left text-center>
        <img src="./assets/images/QuesoIcon.png">
        <p *ngIf="queso.isSharing" text-center padding-top>{{queso.cost / queso.peopleSharing | currency : "USD" :2}}</p>
        <p *ngIf="!queso.isSharing" text-center padding-top>{{queso.cost | currency : "USD" :2}}</p>
      </ion-thumbnail>
      <h2>{{queso.name}}</h2>
      <p *ngIf="queso.isSharing && queso.peopleSharing > 1">{{queso.cost | currency : "USD" :2}} split {{queso.peopleSharing}} ways</p>
    </ion-item>
    <ion-item text-center *ngIf="quesos.length == 0">
      There isn't any queso in your cart!
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      Tacos
    </ion-list-header>
    <ion-item *ngFor="let taco of tacos; let i = index">
      <button ion-button icon-only icon-right item-right clear (click)="showTacoOptions(i)">
        <ion-icon name="information-circle"></ion-icon>
      </button>
      <ion-thumbnail item-left text-center>
        <img src="./assets/images/TacoIcon.png">
        <p text-center padding-top>{{taco.cost * taco.quantity | currency : "USD" :2}}</p>
      </ion-thumbnail>
      <h2>{{taco.tortilla}}</h2>
      <p *ngIf="taco.tortilla == 'Tortilla Fritos'">
        <span *ngIf="taco.tortillaOptions.rice">Rice, </span>
        <span *ngIf="!taco.tortillaOptions.rice">No rice, </span>
        <span *ngIf="taco.tortillaOptions.beans">beans</span>
        <span *ngIf="!taco.tortillaOptions.beans">no beans</span>
      </p>
      <p>{{taco.protein.join(', ')}}</p>
      <p>{{taco.toppings.join(', ')}}</p>
      <p>{{taco.cheese.join(', ')}}</p>
      <p>{{taco.salsa.join(', ')}}</p>
      <p>{{taco.sauces.join(', ')}}</p>
      <br>
      <p>{{ taco.cost | currency : "USD" :2}} x {{taco.quantity}} taco(s)</p>
    </ion-item>
    <ion-item text-center *ngIf="tacos.length == 0">
      There aren't any tacos in your cart!
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      Extras
    </ion-list-header>
    <ion-item *ngFor="let extra of extras; let i = index">
      <button ion-button icon-only icon-right item-right clear (click)="showExtrasOptions(i)">
        <ion-icon name="information-circle"></ion-icon>
      </button>
      <ion-thumbnail item-left text-center>
        <img src="./assets/images/ExtrasIcon.jpg">
        <p text-center padding-top>{{extra.cost | currency : "USD" :2}}</p>
      </ion-thumbnail>
      <h2>{{extra.name}}</h2>
    </ion-item>
    <ion-item text-center *ngIf="extras.length == 0">
      There aren't any extras in your cart!
    </ion-item>
  </ion-list>
</ion-content>